*{margin:0; padding:0;}
html,body{font-family:"Microsoft Yahei";}

/*public start*/
a{text-decoration:none;}
li{list-style:none;}

/*public end*/



.nav{width:100%;}
.nav .nav-header{width:1180px; height:70px; margin:0 auto; background:#f1f1f1;}
.nav .nav-header .nav-logo{float:left; display:inline-block; width:70px; height:70px;  line-height:70px; text-align:center; }
.nav .nav-header .nav-logo>img{height:50px; margin-top:10px; text-align:center;}

.nav .nav-header .nav-ul{float:left; height:70px; }
.nav .nav-header .nav-ul>li{float:left; }
.nav .nav-header .nav-ul>li>a{display:inline-block; padding:16px 0px 10px 0;}
